<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet' />
  </head>
  <body>
  	<a href='<%= nextLink %>'>
	    <div class='row'>
	    	<div class='col-xs-12' style='text-align: center;'>
	    		<img src='<%= image %>' />
	    	</div>
	    </div>
	    <div class='row'>
	    	<div class='col-xs-12' style='text-align: center;'>
	    		<%= text %>
	    	</div>
	    </div>
    </a>
    <script type="text/javascript" src='/javascripts/jquery-3.2.1.min.js'></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
