.row {
	margin-bottom: 20px;
}

.selection {
	text-align: center;
}

.selection-title {
	text-align: right;
}

.button-link {
	border: 1px #ddd solid;
	background-color: #fff; padding: 3px;
	text-decoration: none;
}